awscli==1.21.8
boto3==1.19.8
hypothesis==6.23.1
ImageHash==4.2.1
imagesize==1.2.0
importlib-metadata==4.8.1
json5==0.9.5
pandas @ file:///C:/ci/pandas_1602083338010/work
prometheus-client==0.8.0
readme-renderer==30.0
selenium==3.141.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1603818908746/work
sudo==1.0.0
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work

docker tag id_of_image new_of_name_image

typing
requests
selenium
tqdm
boto3
PyYAML==5.4.1